body {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    background-color: hsl(240, 78%, 98%);
    background-image: url("../images/bg-bottom.svg"), url("../images/bg-top.svg");
    background-position: left bottom, right top;
    background-repeat: no-repeat;
    color: hsl(238, 13%, 37%);
}

.hcontainer {
    margin: 50px auto;
    text-align: center;
}

.toggleSwitch {
    margin: 0px 20px 55px;
    min-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .switchMonthly,
  .switchAnnual {
    position: relative;
    margin: 0 50px;
    color: hsl(234, 14%, 74%);
  }
  
  .switchAnnual::after,
  .switchMonthly::before {
    content: "";
    position: absolute;
    cursor: pointer;
  }
  .switchAnnual::after {
    height: 30px;
    width: 55px;
    border-radius: 50px;
    display: inline-block;
    background: linear-gradient( to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    transform: translate(20px, -5px);
  }
  
  .monthly {
    display: none;
  }
  
  .switchMonthly::before {
    height: 24px;
    width: 24px;
    background: white;
    display: inline-block;
    border-radius: 50%;
    transform: translate(-75px, -2px);
  }
  
  .switchAnnual:hover::after,
  .switchMonthly:hover::before   {
    opacity: 0.5;
  }


  input:checked + * .switchMonthly::before {
    transform: translate(-54px, -2px);
  }
  
  input:checked ~ * .monthly {
    display: block;
  }
  
  input:checked ~ * .annually {
    display: none;
  }
  
  input {
    opacity: 0;
    height: 0;
    width: 0;
  }

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    position: relative;
    width: 350px;
    height: 500px;
    margin: 20px 0;
    background-color: hsl(0, 0%, 100%);
    font-size: 18px;
    border-radius: 8px;
    -webkit-box-shadow: -1px 5px 14px 2px rgba(0,0,0,0.47); 
    box-shadow: -1px 5px 14px 2px rgba(0,0,0,0.47);
}

.middle {
    position: relative;
    z-index: 1;
    height: 520px;
    background: linear-gradient( to bottom, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    color: hsl(0, 0%, 100%);
    padding-bottom: 15px;
}

.card h6 {
    font-size: 25px;
    margin-bottom: 10px;
}

.middle h6 {
   margin-top: 70px;
}

.card h1 {
    margin: 25px;
    font-size: 60px;
    font-weight: 900;
}

.middle h1 {
    color: hsl(0, 0%, 100%);
}

.card ul {
    margin-left: -30px;
    list-style-type: none;
}

.card ul li {
    padding: 15px;
    margin: 0 20px;
    border-top: 1px solid hsl(238, 13%, 90%);
}

.card ul li:last-child {
    border-bottom: 1px solid hsl(238, 13%, 90%);
}

.card button {
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px 60px 10px 60px;
    background: linear-gradient( to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    border: 1px solid hsl(0, 0%, 100%); 
    border-radius: 5px;
    color:hsl(0, 0%, 100%);
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    transition: 0.5s ease-in;
}

.middle button {
    background:hsl(0, 0%, 100%);
    color: hsl(237, 63%, 64%);
    border: 1px solid hsl(237, 63%, 64%); 
}

.card button:hover {
    cursor: pointer;
    background:hsl(0, 0%, 100%);
    color: hsl(237, 63%, 64%);
    border: 1px solid hsl(237, 63%, 64%); 
}

.middle button:hover {
    cursor: pointer;
    background:hsl(237, 63%, 64%);
    color: hsl(0, 0%, 100%);
    border: 1px solid hsl(0, 0%, 100%);
}    

@media screen and (max-width: 992px) {
    .container {
      flex-direction: column;
    }
}